{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تغییر رمز عبور</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="signup-container">
        <div class="signup-card">
            <h2>تغییر رمز</h2>
            <form>
                <div class="mb-4 text-start">
                    <label for="new_password" class="form-label">رمز عبور جدید</label>
                    <input type="password" class="form-control" id="new_password" name="new_password" placeholder="رمز جدید" required>
                </div>
                <div class="mb-4 text-start">
                    <label for="confirm_new_password" class="form-label">تکرار رمز عبور جدید</label>
                    <input type="password" class="form-control" id="confirm_new_password" name="confirm_new_password" placeholder="تکرار رمز جدید" required>
                </div>
                <button type="submit" class="btn btn-custom">تغییر رمز</button>
            </form>
            <div class="footer-text">
                © 2025 مدیریت دارو | طراحی شده در 30 ژوئن 2025، 11:57 AM CEST
            </div>
        </div>
    </div>
</body>
</html>