<style>footer {
    font-size: 0.7em;
    padding: 10px;
    background-color: #2c2f33;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

footer h5 {
    margin-bottom: 5px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li a {
    color: #ffffff;
    text-decoration: none;
}

footer p {
    margin: 2px 0;
}

footer .copyright {
    margin: 5px 0;
    font-size: 0.8em;
}

/* برای اطمینان از اینکه محتوا زیر فوتر نره */
body {
    min-height: 100vh;
    margin: 0;
    padding-bottom: 60px; /* ارتفاع تقریبی فوتر */
}

html {
    position: relative;
    min-height: 100%;
}</style>

<footer>
    <div>
        <h5>داروکده</h5>
    </div>
    <div>
        <h5>لینک‌ها</h5>
        <ul>
            <li><a href="#">خانه</a></li>
            <li><a href="#">محصولات</a></li>
            <li><a href="#">درباره ما</a></li>
        </ul>
    </div>
    <div>
        <h5>خدمات</h5>
        <ul>
            <li><a href="#">پشتیبانی</a></li>
            <li><a href="#">سوالات متداول</a></li>
        </ul>
    </div>
    <div>
        <h5>تماس با ما</h5>
        <p>info@darukode.com</p>
        <p>+98 912 345 6789</p>
        <p>تهران، ایران</p>
    </div>
    <p class="copyright">© 2025 داروکده | طراحی شده در 6 ژوئیه 2025، 05:18 PM BST</p>
</footer>